/* NAV BAR */

body {
    margin: 20px 150px 40px 150px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}

.nav {
    text-decoration: none;
    color: #59748e;
}

a, a:hover, a:visited {
    color: #59748e;
    text-decoration: none;
    /* i am bothered by the my account looking thicker when i highlight it */
}

#peace {
background-image: url(/Users/kespinal/Desktop/wyncode/weekend_project_design_mockup/pictures/peacesign.png);
background-position: center;
background-size: contain;
background-repeat: no-repeat;
height: 2.5vh;
}

.left-nav {
    display: flex;
    justify-content: space-between;
    width: 105px;
}


/* SEARCH BAR */

.search {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid lightgrey;

} 

/* .search a, a:hover, a:visited {
    color: #59748e;
    text-decoration: none;
    font-size: 10px;
} */

/* FILTER BAR */

.filter {
    display: flex;
}