body {
    margin: 20px 150px 40px 150px;
}

/* NAV BAR */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
}

.nav {
    text-decoration: none;
    color: #59748e;
}

a, a:hover, a:visited {
    color: #59748e;
    text-decoration: none;
    /* i am bothered by the my account looking thicker when i highlight it */
}

.left-nav {
    display: flex;
    justify-content: space-between;
    width: 105px;
}


/* SEARCH BAR */

.search {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
    border-bottom: 1px solid lightgrey;

} 

/* .search a, a:hover, a:visited {
    color: #59748e;
    text-decoration: none;
    font-size: 10px;
} */

/* FILTER BAR */


.filter-bar-left {
    display: flex;
}

.icons {
    display: flex;
    border-right: 1px solid lightgrey;
    padding-right: 20px;
}

.prices, .hills-number, .type, .more, .oldest-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    padding-left: 25px;
    color: #59748e;
    font-weight: bold;
}

.arrow-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    padding-left: 7px;
    color: #59748e;
    border-right: 1px solid lightgrey;
    padding-right: 25px;
}

.arrow-down-last {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 10;
    padding-left: 7px;
    color: #59748e;
    padding-right: 25px;
}

.filter-bar {
    display: flex;
    justify-content: space-between;
}